body {
    background-color: #2f2f2f;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}
h1 {
    font-size: 100px;
    color: #00ff7f;
}
p {
    color: #dfdfdf;
}
a {
    color: #dfdfdf;
}