@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

body {
    font-family: "JetBrains Mono", monospace;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.transition {
    transition: color 300ms, background-color 300ms;
}

.text {
    color: #bfbfbf;
    font-size: 150%;
}

.button {
    font-family: inherit;
    border: none;
    color: #2f2f2f;
    background: #ffca3a;
    font-size: 150%;
    padding-block: 20px;
    width: 100vw;
    margin: 0;
}

.button:hover {
    background: #bfbfbf;
    cursor: pointer;
}

.button-spacing {
    margin-block: 10px;
}
