@import "prismjs/themes/prism-tomorrow.css";

@import "@fontsource-variable/fira-code/wght.css";
@import "@fontsource-variable/noto-serif/wght.css";
@import "@fontsource-variable/noto-sans/wght.css";

@import "remixicon/fonts/remixicon.css";

:root {
  --main-background-color: black;
  --code-background-color: #232323;
  --main-color: #bfbfbf;
  --less-color: #6f6f6f;
  background-color: var(--main-background-color);
  font-family: "Noto Sans Variable", sans-serif;
}
html, body, #app {
  height: 100%;
}
body {
  color: var(--main-color);
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif Variable", serif;
  font-weight: bold;
  margin-block: 1rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
p, ul{
  margin-block: 1rem;
}
ul {
  padding-inline-start: 1rem;
}
code {
  font-family: "Fira Code Variable", monospace !important;
  font-size: 0.9rem !important;
  background-color: var(--code-background-color);
  padding: 0.2rem;
  border-radius: 0.2rem;
}
pre {
  margin-block: 1rem !important;
  padding-block: 1rem !important;
  border-radius: 1rem;
  background-color: var(--code-background-color) !important;
  overflow-x: auto;
}
pre code {
  padding-inline: 0;
}